<h1 class="text-4xl font-medium">Tarifs adapted to your activities</h1>
<%= form_with url: filter_plans_path,
              method: :get,
              class:"text-sm font-medium text-center flex rounded border border-qonto-black",
              data: { turbo_frame: :plans, controller: 'tabs' } do |f| %>
  <%= f.collection_radio_buttons :category_id, Category.all, :id, :name do |b| %>
    <div class="relative border-r border-black last:border-none">
      <%= b.radio_button(class: 'peer sr-only', data: {action: 'change->tabs#submit'}) %>
      <%= b.label(class: 'block py-3 px-4 peer-checked:bg-qonto-black peer-checked:text-white cursor-pointer') %>
    </div>
  <% end %>
<% end %>
<%= turbo_frame_tag :plans do %>
  <%= render 'plans', plans: @plans %>
<% end %>
